{{#if productos.length}}
    {{#each productos}}
        <div class="card" onclick="agregarAlCarrito({{id}})">
            <article class="card__article">
                <div class="card__image-container">
                    <img class="card__image" src="{{foto}}" alt="{{nombre}}">    
                </div>
                <p class="card__image-description">{{nombre}}</p>
                <div class="card__content">
                    <h2 class="card__heading">{{nombre}}</h2>
                    <div class="card__description">
                        <p class="card__description-product">
                            {{detalle}}
                        </p>
                        <div class="card__description-review">
                            <a 
                                href="https://www.youtube.com/watch?v=XQyPBsz7oP0" target="_blank"><img src="img/icons/icon-youtube.png" alt="icon-youtube">
                            </a>
                            <p class="card__description-price">{{precio}}</p>
                        </div>
                    </div>
                </div>
            </article>
        </div>  
    {{/each}}
{{else}}
    <h2>No se econtraron productos</h2>
{{/if}}


